#wrapper {
	padding: 2.5em;
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.neg {
	color: red;
}
.pos {
	color: green;
}
.modal-content {
	padding: 1em;
}
.panel-body {
	padding: 1em;
}
th a {
	text-decoration: none;
	text-color: black;
	
}
th a:before {
	background-image: url('../img/dropdown.png');
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    content:" ";
}
th a:hover:before {
	background-image: url('../img/dropdown2.png');
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    content:" ";
}


.dropmenu {
   position: absolute;
   left: -1500px;
   visibility: visible;
   z-index: 101;
   float: left;

   border-width: px;
   border-style: solid;
   border-color: ;	
   background-color: ;
}
.dropmenu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.dropmenu li {
   display: inline;
}
.dropmenu a, .dropmenu a:visited, .dropmenu a:active {
   display: block;
   width: px;

   padding: px;
   margin: px;
   font-family: ;
   font-size: px;
   font-weight: ;
   text-align: ;
   text-decoration: ;

   color: ;
   background-color: ;
}
.dropmenu a:hover {
   padding: px;
   margin: px;
   font-family: ;
   font-size: px;
   font-weight: ;
   text-align: ;
   text-decoration: ;

   color: ;
   background-color: ;
}
